src/main/resources/yql/yql-historical-data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="query" type="queryType"/>
  <xs:complexType name="queryType">
    <xs:sequence>
      <xs:element type="diagnosticsType" name="diagnostics"/>
      <xs:element type="resultsType" name="results"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="count" use="optional" />
    <xs:attribute type="xs:string" name="created" use="optional" />
    <xs:attribute type="xs:string" name="lang" use="optional" />
  </xs:complexType>
  <xs:complexType name="quoteType">
    <xs:sequence>
      <xs:element type="xs:string" name="Date"/>
      <xs:element type="xs:string" name="Open"/>
      <xs:element type="xs:string" name="High"/>
      <xs:element type="xs:string" name="Low"/>
      <xs:element type="xs:string" name="Close"/>
      <xs:element type="xs:string" name="Volume"/>
      <xs:element type="xs:string" name="Adj_Close"/>
    </xs:sequence>
    <!--<xs:attribute type="xs:string" name="date" use="optional"/>-->
  </xs:complexType>
  <xs:complexType name="javascriptType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="execution-time" use="optional"/>
        <xs:attribute type="xs:string" name="instructions-used" use="optional"/>
        <xs:attribute type="xs:string" name="table-name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="redirectType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="from"/>
        <xs:attribute type="xs:string" name="status"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="diagnosticsType">
    <xs:sequence>
      <xs:element type="xs:string" name="publiclyCallable"/>
      <xs:element type="redirectType" name="redirect"/>
      <xs:element type="urlType" name="url" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="csv"/>
      <xs:element type="javascriptType" name="javascript" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:string" name="user-time"/>
      <xs:element type="xs:string" name="service-time"/>
      <xs:element type="xs:string" name="build-version"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="resultsType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="quoteType" name="quote"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="urlType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="execution-time" use="optional"/>
        <xs:attribute type="xs:string" name="proxy" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>