src/main/resources/yql/yql-query-type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="query" type="queryType"/>
    <xs:complexType name="queryType">
        <xs:sequence>
            <xs:element type="diagnosticsType" name="diagnostics"/>
            <xs:element type="resultsType" name="results"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="count" use="optional"/>
        <xs:attribute type="xs:string" name="created" use="optional"/>
        <xs:attribute type="xs:string" name="lang" use="optional"/>
    </xs:complexType>
    <xs:complexType name="quoteType">
        <xs:sequence>
            <!--historical quote fields-->
            <xs:element type="xs:string" name="Date"/>
            <xs:element type="xs:string" name="Open"/>
            <xs:element type="xs:string" name="High"/>
            <xs:element type="xs:string" name="Low"/>
            <xs:element type="xs:string" name="Close"/>
            <xs:element type="xs:string" name="Volume"/>
            <xs:element type="xs:string" name="Adj_Close"/>

            <!--Realtime quote fields-->
            <xs:element type="xs:string" name="Bid"/>
            <xs:element type="xs:string" name="Ask"/>
            <xs:element type="xs:string" name="AverageDailyVolume"/>
            <xs:element type="xs:string" name="AskRealtime"/>
            <xs:element type="xs:string" name="BidRealtime"/>
            <xs:element type="xs:string" name="BookValue"/>
            <xs:element type="xs:string" name="Change_PercentChange"/>
            <xs:element type="xs:string" name="Change"/>
            <xs:element type="xs:string" name="Commission"/>
            <xs:element type="xs:string" name="ChangeRealtime"/>
            <xs:element type="xs:string" name="AfterHoursChangeRealtime"/>
            <xs:element type="xs:string" name="DividendShare"/>
            <xs:element type="xs:string" name="LastTradeDate"/>
            <xs:element type="xs:string" name="TradeDate"/>
            <xs:element type="xs:string" name="EarningsShare"/>
            <xs:element type="xs:string" name="ErrorIndicationreturnedforsymbolchangedinvalid"/>
            <xs:element type="xs:string" name="EPSEstimateCurrentYear"/>
            <xs:element type="xs:string" name="EPSEstimateNextYear"/>
            <xs:element type="xs:string" name="EPSEstimateNextQuarter"/>
            <xs:element type="xs:string" name="DaysLow"/>
            <xs:element type="xs:string" name="DaysHigh"/>
            <xs:element type="xs:string" name="YearLow"/>
            <xs:element type="xs:string" name="YearHigh"/>
            <xs:element type="xs:string" name="HoldingsGainPercent"/>
            <xs:element type="xs:string" name="AnnualizedGain"/>
            <xs:element type="xs:string" name="HoldingsGain"/>
            <xs:element type="xs:string" name="HoldingsGainPercentRealtime"/>
            <xs:element type="xs:string" name="HoldingsGainRealtime"/>
            <xs:element type="xs:string" name="MoreInfo"/>
            <xs:element type="xs:string" name="OrderBookRealtime"/>
            <xs:element type="xs:string" name="MarketCapitalization"/>
            <xs:element type="xs:string" name="MarketCapRealtime"/>
            <xs:element type="xs:string" name="EBITDA"/>
            <xs:element type="xs:string" name="ChangeFromYearLow"/>
            <xs:element type="xs:string" name="PercentChangeFromYearLow"/>
            <xs:element type="xs:string" name="LastTradeRealtimeWithTime"/>
            <xs:element type="xs:string" name="ChangePercentRealtime"/>
            <xs:element type="xs:string" name="ChangeFromYearHigh"/>
            <xs:element type="xs:string" name="PercebtChangeFromYearHigh"/>
            <xs:element type="xs:string" name="LastTradeWithTime"/>
            <xs:element type="xs:string" name="LastTradePriceOnly"/>
            <xs:element type="xs:string" name="HighLimit"/>
            <xs:element type="xs:string" name="LowLimit"/>
            <xs:element type="xs:string" name="DaysRange"/>
            <xs:element type="xs:string" name="DaysRangeRealtime"/>
            <xs:element type="xs:string" name="FiftydayMovingAverage"/>
            <xs:element type="xs:string" name="TwoHundreddayMovingAverage"/>
            <xs:element type="xs:string" name="ChangeFromTwoHundreddayMovingAverage"/>
            <xs:element type="xs:string" name="PercentChangeFromTwoHundreddayMovingAverage"/>
            <xs:element type="xs:string" name="ChangeFromFiftydayMovingAverage"/>
            <xs:element type="xs:string" name="PercentChangeFromFiftydayMovingAverage"/>
            <xs:element type="xs:string" name="Name"/>
            <xs:element type="xs:string" name="Notes"/>
            <xs:element type="xs:string" name="PreviousClose"/>
            <xs:element type="xs:string" name="PricePaid"/>
            <xs:element type="xs:string" name="ChangeinPercent"/>
            <xs:element type="xs:string" name="PriceSales"/>
            <xs:element type="xs:string" name="PriceBook"/>
            <xs:element type="xs:string" name="ExDividendDate"/>
            <xs:element type="xs:string" name="PERatio"/>
            <xs:element type="xs:string" name="DividendPayDate"/>
            <xs:element type="xs:string" name="PERatioRealtime"/>
            <xs:element type="xs:string" name="PEGRatio"/>
            <xs:element type="xs:string" name="PriceEPSEstimateCurrentYear"/>
            <xs:element type="xs:string" name="PriceEPSEstimateNextYear"/>
            <xs:element type="xs:string" name="Symbol"/>
            <xs:element type="xs:string" name="SharesOwned"/>
            <xs:element type="xs:string" name="ShortRatio"/>
            <xs:element type="xs:string" name="LastTradeTime"/>
            <xs:element type="xs:string" name="TickerTrend"/>
            <xs:element type="xs:string" name="OneyrTargetPrice"/>
            <xs:element type="xs:string" name="HoldingsValue"/>
            <xs:element type="xs:string" name="HoldingsValueRealtime"/>
            <xs:element type="xs:string" name="YearRange"/>
            <xs:element type="xs:string" name="DaysValueChange"/>
            <xs:element type="xs:string" name="DaysValueChangeRealtime"/>
            <xs:element type="xs:string" name="StockExchange"/>
            <xs:element type="xs:string" name="DividendYield"/>
            <xs:element type="xs:string" name="PercentChange"/>

        </xs:sequence>
        <!--<xs:attribute type="xs:string" name="id" use="optional"/>-->
    </xs:complexType>

    <xs:complexType name="javascriptType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="execution-time" use="optional"/>
                <xs:attribute type="xs:string" name="instructions-used" use="optional"/>
                <xs:attribute type="xs:string" name="table-name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="redirectType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="from"/>
                <xs:attribute type="xs:string" name="status"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="diagnosticsType">
        <xs:sequence>
            <xs:element type="xs:string" name="publiclyCallable"/>
            <xs:element type="redirectType" name="redirect"/>
            <xs:element type="urlType" name="url" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="xs:string" name="csv"/>
            <xs:element type="javascriptType" name="javascript" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="xs:string" name="user-time"/>
            <xs:element type="xs:string" name="service-time"/>
            <xs:element type="xs:string" name="build-version"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="resultsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element type="quoteType" name="quote"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="urlType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="execution-time" use="optional"/>
                <xs:attribute type="xs:string" name="proxy" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
</xs:schema>